<header>B2K Poultry Farm</header>

<nav>
    <a routerLink="/poultry">Poultry</a>
    <a routerLink="/add">Contact</a>
    <a routerLink="/login">Admin Login</a>
</nav>

<div class="banner"></div>

<section id="about">
    <div class="content">
        <h2>About Us</h2>
        <p>We are a leading poultry farm providing fresh eggs and high-quality poultry products. With a rich heritage and commitment to quality, we ensure the best for our customers.</p>
    </div>
</section>

<section id="products">
    <div class="content">
        <h2>Our Products</h2>
        <p>We offer a variety of fresh eggs, organic poultry meat, and farm products, sourced responsibly and delivered with care.</p>
    </div>
</section>

<section id="gallery">
    <h2 class="center">Gallery</h2>
    <div class="gallery">
        <img src="assets/hen.jpg" alt="Farm Image 1">
        <img src="assets/duck.jpg" alt="Farm Image 2">
        <img src="assets/turkey.jpg" alt="Farm Image 3">
    </div>
</section>

<section id="contact">
    <div class="content">
        <h2>Contact Us</h2>
        <p>Email: info@b2kpoultry.com</p>
        <p>Phone: +91 6380631799</p>
        <p>Address: Perundurai, Erode, Tamilnadu.</p>
    </div>
</section>

<footer>
    <p>&copy; 2025 B2K Poultry Farm. All rights reserved.</p>
</footer>